html,
body {
    width: 50%;
    height: 50%;
}

body {
    background-color: #1EB3FF;
}

p {
    font-size: 40px;
}

.carousel-inner>item>img .carousel-inner>item>a>img {
    width: 100%;
    margin: auto;
}
